<%- include("header") -%>

<h2>This is Prasang Kumar.</h2>
<h3>A Student of Techno Main Saltlake.</h3>


<p>I love web devlopment and solving coding problems.</p>
<p>This has kind-off become my passion since i have started my preparation for placements.</p>
<p> I have been doing great till now.</p>


<%- include("footer") -%>
